* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #131313;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #fff;
}

.logo-synergi {
  max-height: 55px !important;
}

.navbar-nav li a {
  color: #fff;
}

.navbar-nav li a:hover {
  color: #a1a1a1;
}

.margin-auto {
  margin: 0px 50px;
}

.txt-banner-synergi {
  font-size: 75px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
}

.sub-txt-synergi {
  font-size: 95px;
  font-weight: 800;
  line-height: 1;
  background: linear-gradient(45deg, #00ffff, #ff69b4);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}

.txt-about {
  color: #fff;
  font-size: 50px;
}

.container-about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-team {
  font-size: 50px;
}

.sub-text-team {
  font-size: 18px;
  padding: 0 20vw;
  line-height: 2;
  color: #fff !important;
}

.section-padding {
  width: 100%;
  padding: 100px 0px;
}

.section-padding-ceo {
  width: 100%;
  padding: 65px 0px 0px 0px;
}

.section-padding-teams {
  width: 100%;
  padding: 150px 0px;
}

#nosso-time {
  display: flex;
  align-items: center;
  background-image: url("../imgs/background_teams.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.icon-ceo {
  font-size: 50px;
}

.text-ceo {
  font-size: 22px;
}

.container-ceo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-padding p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  margin-bottom: 30px;
}

.section-padding .btn-get-started {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 40px;
  border-radius: 50px;
  transition: 0.3s;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.section-padding .btn-get-started:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

#background-ceo {
  background-image: url("../imgs/background_allan.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.img-fluid-about {
  width: 55%;
  height: auto;
}

.img-fluid-ceo {
  width: 100%;
  height: auto;
}

/* Mobile -- Responsive */

@media (min-width: 1365px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 1024px) {
  .txt-banner-synergi {
    font-size: 50px;
  }

  .sub-txt-synergi {
    font-size: 60px;
  }
}

@media (max-width: 990px) {
  .hidden {
    display: none;
  }

  .img-fluid-ceo {
    width: 70%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .sub-text-team {
    padding: 0px;
  }
}

@media (max-width: 640px) {
  .txt-banner-synergi {
    font-size: 40px;
  }

  .sub-txt-synergi {
    font-size: 45px;
  }

  .hero .btn-get-started {
    font-size: 14px;
  }
}
